button {
    background: linear-gradient(white 1%,lightgray);
    border: 1px solid gray;
    outline: none;
}


.circle {
    background-color: green;
    opacity:90%;
    border-radius: 50%;
    border: 1px solid black;
}

.rectangle {
    background-color: red;
    opacity:90%;
    border: 1px solid black;
}
.triangle{
    border-left : 50px solid transparent;
    border-right : 50px solid transparent;
    border-bottom :100px solid rgba(0,0,255);
}
